/* edit menu hamburguer */
.navbar-toggler-icon {
  background-image: none;
}

.navbar-toggler-icon::before {
  content: "\2630";
  /* menu hamburguer*/
  font-size: 30px;
  color: rgb(254, 250, 224);
  box-shadow: none;
  border: none;
}

.navbar-toggler {
  border: none;
  box-shadow: none;
}

/* edits. gerais*/
body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  padding-top: 25px;
  background-image: url(../img/logo/LauGardenSFundo.png);
  background-color: rgb(252, 249, 233);
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

.a {
  color: rgb(96, 108, 56);
  font-weight: 400;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

span {
  color: rgb(188, 108, 37);
  font-weight: 300;
}

.navOptions {
  color: rgb(254, 250, 224);
  font-weight: 300;
}

h2 {
  margin: 0 0 20px 0;
  font-weight: 600;
  font-size: 36px;
  color: #333;
}

h3,
h4 {
  font-size: 20px;
  font-weight: 400;
  color: #333;
}

h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}

p {
  font-size: 15px;
}

.button {
  background-color: rgb(236, 236, 236);
  padding: 8px 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.button:hover {
  background-color: rgb(199, 198, 198);
}

/* cards */
.card {
  box-shadow: 5px 5px 5px 2px rgb(218, 215, 205);
  border-radius: 42px;
}

.card a {
  color: rgb(96, 108, 56);
  font-weight: 400;
  text-decoration: underline;
}

.cardInfo {
  color: rgb(96, 108, 56);
  font-weight: 400;
  text-decoration: underline;
}



.login {
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* animações */
.aos-all {
  width: 1000px;
  max-width: 98%;
  margin: 10vh auto 0 auto;
}

.parallax {
  background-image: none;
  background-color: rgb(252, 249, 233);

}


/* media query p/ melhor responsividade */
@media (max-width: 768px) {
  .card img {
    height: 150px;
  }

  .row.align-items-start {
    flex-direction: column;
  }

  .col {
    margin-bottom: 15px;
  }
}